# Server
NODE_ENV="development" # development | production | test
PORT=8080 # Or any port you want to use.

# Database
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-address>/<database-name>"
"